/*
MEDIA QUERIES FOR MOBILES AND DEFAULT
*/
body {
    background-color: $primaryColor;

}
h1{
    text-align: center;
    color:lightgoldenrodyellow;
    font-size:  2rem;
    margin:1rem 0 0 0;
}
h2 {
    font-weight: 300;
    text-align: center;
    margin:0;
}