/*
GLOBAL CSS RULES
*/
html { 
    text-size-adjust: 100%;
}
* {
   box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #333;
}

img {
    width: 100%;
    height: auto;
}