/*
GLOBAL CSS RULES
*/
html { 
    text-size-adjust: 100%;
}
* {
   box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #333;
}

img {
    width: 100%;
    height: auto;
}

.gutter{
    padding-left: 18px;
    padding-right: 18px;

    &--top {
        padding-top: 30px;
    }
    &--bottom {
        padding-bottom: 30px;
    }
}

.btn {
    display: inline-block;
    margin-bottom: 1rem;
    font-size: ms(0);
    padding: .25rem 1rem;
    background-color:#F0910F;// coral;
    color:whitesmoke;
    font-weight: 400;
    text-decoration: none;

   
    &--large {
        padding: .5rem 2rem;
        font-size: ms(0);
    }
    &--blue {
        background-color: transparent;
        color: $primaryColor;
        border:2px solid $primaryColor;
    }
}

.hr{
    &-style--1 {
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(92, 94, 95, 0.55), rgba(0, 0, 0, 0));
     
    }
}
.gap {

margin: 4rem 0;




    &--primary {
        flex: 1;
        align-items: center;
        background-color:lighten($primaryColor,30%);
        height: 300px;
    }
}
.ad-block{
    padding: 25px;


    &__title {
        color:darken($primaryColor,20%);
        font-size: ms(2);
        text-align: left;
    } 
}
